<form>
    <div class="form-group">
        <label for="task-title">Task Title</label>
        <input type="text" class="form-control" id="task-title">
        <small class="form-text text-muted">Put your task's title here</small>
    </div>
    <div class="form-group">
        <label for="task-description">Task Description</label>
        <small class="form-text text-muted">Put your task's description here</small>
        <textarea class="form-control" id="task-description" rows="3"></textarea>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="task-completed">
        <label class="form-check-label" for="task-completed">Completed?</label>
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
</form>
