<h1>My Tasks</h1>

<div class="list-container">
    <ul>
        <% @tasks.each do |task| %>
            <% if task.completed == true %>
                    <li><input type="checkbox" checked><%= link_to task.title, task_path(task) %></li>
            <% else %>
                    <li><input type="checkbox"><%= link_to task.title, task_path(task) %></li>
            <% end %>
        <% end %>
    </ul>
</div>
<a class="btn btn-primary" href="tasks/new" role="button">Create New Task</a>
