<div class="container">
    <h1>My Tasks</h1>
    <ul>
        <% @tasks.each do |task| %>
            <% if task.completed == true %>
                    <li>
                        <input type="checkbox" checked>
                        <%= link_to task.title, task_path(task) %> &#183
                        <a href="<%= task_path(task) %>" data-method="delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
            <% else %>
                    <li>
                        <input type="checkbox">
                        <%= link_to task.title, task_path(task) %> &#183
                        <a href="<%= task_path(task) %>" data-method="delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
            <% end %>
        <% end %>
    </ul>
    <a class="btn btn-primary" href="http://localhost:3000/tasks/new" role="button">Create New Task</a>
</div>
